:root {
    --default-font-family: Arial, sans-serif;
    --heading-font-family: "Calibri Light", sans-serif;

    --default-font-size: 16px;
    --font-color: #000000;

    --background: #ffffff;
}

html {
    font-size: var(--default-font-size);
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
    color: var(--font-color);
    background: var(--background);
}

img {
    max-width: 100%;
}

.simple-card {
    width: 20rem;
    max-width: 100%;
    font-size: 1.15rem;

    h2 {
        font-family: var(--heading-font-family);
    }

    p:last-child {
        text-align: right;
    }



    sdfsdfsfsdfsdfsdf
    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--font-color);
       
        &:hover {
            text-decoration: underline;
        }
    }
}

